spring:
  profiles:
    active: default,dev
  datasource:
    hikari:
      minimum-idle: 20
      maximum-pool-size: 100
  application:
    name: docker-admin
sys:
  title: Docker Admin

logging:
  level:
    io.admin: debug
